*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-game{
    height: 100vh;
    background-image: linear-gradient( 135deg, #FCBD49 10%, #F77F00 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.3);
box-shadow: 0px 5px 11px 3px rgba(0,0,0,0.3);
text-align: center;
font-size: 25px;
border-radius: 3px;
position: relative;
overflow: hidden;
}

#tablero{
    font-size: 30px;
    width: 100%;
    text-align: center;
    align-self: flex-end;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
}


#resultado{
    font-size: 30px;
    width: 300px;
    text-align: center;
    align-self: flex-end;
    margin: 10px;
    display: block;
    height: 15%;
    position: absolute;
    bottom: 10%;
    left:26% ;
}

.btn-box{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.12rem;
    width: 100px;
    height: 100px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(162,58,150,1) 89%, rgba(237,31,73,1) 100%);
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 50%;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.55);
box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.55);
transform: scale(1);
}

.btn:active{
    transform: scale(0.97);
    transition: all 0.3s;
}


#resultado-total{
    margin-bottom: 20px;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 3px;
    height: 50px;
    width: 200px;
}

#pc{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
}
#player{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}


#nombrePc{
    color: #797979;
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    height: 29px;
    margin-bottom: 7px;
}

#nombrePlayer{
    color: #797979;
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 7px;
    height: 29px;
}

#imagenPlayer,#imagenPc{
    width: 100%;
    height: 88%;
}
.imagenMano{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.jugarDeNuevo{
    font-size: 18px;
    width: 200px;
    height: 35px;
    text-align: center;
    background: linear-gradient(rgb(95, 183, 255), rgb(71, 71, 231));
    font-weight: 300;
    letter-spacing: 1.2px;
    margin: 20px auto;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    color: #1a1a1a;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.55);
    transform: scale(1);
}

.jugarDeNuevo:active{
    transform: scale(0.97);
    transition: all 0.3s;
}

.pantalla h1{
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

@media (max-width: 500px){
    .pantalla{
        width: 80%;
    }
    #pc,#player{
        justify-content: space-around;
    }
    #imagenPlayer, #imagenPc {
        width: 100%;
        height: 50%;
       justify-self: flex-end;
    }

    #nombrePc,#nombrePlayer{
        font-size: 18px;
        letter-spacing: 0.10rem;
    }
    #resultado {
        font-size: 1.5rem;
        width: 300px;
        text-align: center;
        align-self: unset;
        margin: 10px 10px 20px 10px;
        display: block;
        height: auto; 
         position: relative; 
         bottom: 0%;
        left: 0%;
    }
    .btn-box {
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .btn{
        width: 80px;
        height: 80px;
        font-size: 1rem;
    }
}

@media (max-width: 350px){
#resultado {
    font-size: 1rem;
}

.btn {
    width: 68px;
    height: 68px;
    font-size: 0.7rem;
}
}